<section class="min-height section-padding">
  <div class="about fadein">
    <div class="about-image flex-item">
      <%= image_tag "suegosney.jpg" %>
    </div>


    <div class="about-copy link-underline">

      <p>Welcome to my website which includes several examples of my work, each with a description, size and a price.</p>

      <p>I trained at Amersham College of Art in Buckinghamshire, where I was able to focus on my love of painting and drawing.</p>

      <p>The charming Buckinghamshire countryside and the places I visit both in the UK and abroad, provide me with inspiration. I try, whenever possible, to work from real life landscapes, gaining as much reference as I can from my immediate surroundings. In my work, my aim is to evoke the energy, atmosphere, colour and feeling inspired by these places.</p>

      <p>I use a variety of media and, as well as landscape, I paint still life, buildings and flowers. I have also always enjoyed figure drawing and believe it is very important to continue with this discipline.</p>

      <p>I have been successfully painting and exhibiting for many years and some of my work may be seen at galleries across the country.</p>

      <p>I hope you enjoy my work.</p>
    </div>

</section>


<section>
    <ul class="exhibitions fadein">
      <li>
        <h3>
          Upcoming exhibitions
        </h3>
        <h2>
          The Courtyard Gallery, 8th to 28th February 2019
        </h2>
        <p>
          The Barn Courtyard, 25 High St, Wendover, HP22 6DU
        </p>

      </li>

      <li>
        <h3>
          Current exhibitions
        </h3>
        <h2>
          a little bird told me gallery
        </h2>
        <p>
          The Barn Courtyard, 25 High St, Wendover, HP22 6DU
        </p>

      </li>
    </ul>
</section>

<section class="newsletter_container">
  <div class= "newsletter_copy fadein">
    <h3>Sign up to receive more details about upcoming exhibitions</h3>
  </div>

    <div class="newsletter_form fadein">
      <%= simple_form_for :newsletter, url: newsletter_path, remote: true do |f| %>
      <%= f.input :first_name, label: false, placeholder: "First name*"%>
      <%= f.input :last_name, label: false, placeholder: "Last name*"%>
      <%= f.input :email, label: false, placeholder: "Email address*"%>

    <%= f.button :submit,"Sign me up" %>

      <p class="smallprint"> *all fields required </p>

      <% end %>
    </div>

</section>

<section>
  <div class="instagram fadein">
    <div class="link-underline">
      <a href="https://www.instagram.com/gosneyart_/" target="_blank">@gosneyart_</a>
    </div>
    <div class="insta-container"  id="instafeed"></div>
  </div>
</section>
