<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Sue Gosney online portfolio"/>
    <meta property="og:description" content="I use a variety of media and, as well as landscape, I paint still life, buildings and flowers. I have also always enjoyed figure drawing and believe it is very important to continue with this discipline."/>
    <meta property="og:url" content="https://www.suegosney.com/"/>
    <meta property="og:image" content="https://suegosney-development.s3.amazonaws.com/uploads/painting/image/8/large_p17.jpg"/>
    <meta name="twitter:card" content="summary_large_image"/>


    <title>Sue Gosney</title>
      <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <h1><%=link_to "Sue Gosney", root_path %></h1>
      <nav class="active link-underline">

        <%= active_link_to "Gallery", root_path, active: :exact %>
          <%= active_link_to "About", about_path, active: :exact %>
          <%= active_link_to "Contact", contact_path, active: :exact %>
      </nav>
    </header>

      <%= yield %>


    <footer class="footer link-underline">
        <p>Copyright © 2018</p>
        <div>
          <a href="https://www.lauragosney.com/" target="_blank">  Site by lauragosney.com
          </a>
        </div>
      </footer>

      <script type="text/javascript">
       var feed = new Instafeed({
          get: 'user',
          userId: 5519850249,
          accessToken: '5519850249.8488c62.616187f93c144471a549d6738500bf11',
          limit: 8,
          resolution: 'low_resolution',
          template:'<div class="instapic"><a href="{{link}}" target="_blank"><div class="overlay"><div class="caption"><div class="likes"><div class="heart"></div><h5>{{likes}}</h5></div><h6>{{caption}}</h6></div></div><img class="insta-image" src="{{image}}"/></a></div>',
        });

        feed.run();
      </script>

      <script src="https://unpkg.com/in-view@0.6.1/dist/in-view.min.js"></script>


  </body>
</html>
